@use "../colors" as *;
.navbar {
	color: $color-secondary;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	padding: 0 2em;
	&__left {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__menuiconcontainer {
		display: none;
	}
	&__menuicon {
		color: aqua;
		display: none;
	}

	&__menuicon:hover {
		color: $color-tertiary;
		cursor: pointer;
	}
	&__logo {
		margin-right: 10em;
		cursor: pointer;
	}
	&__list-items {
		list-style: none;
		display: flex;
	}
	&__list-item {
		margin: 0.5em 1em;
		cursor: pointer;
		border-bottom: 0.15em solid transparent;
	}
	&__list-item:hover {
		border-bottom: 0.0625em solid $color-secondary;
	}
	&__right {
		display: flex;
		min-width: 320px;
	}
	&__social-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1em 0 0;
	}
	&__social-icon {
		cursor: pointer;
		color: $color-secondary;
		width: 1.5em;
		height: 1.5em;
		margin: 0 0.3em;
	}
	&__social-icon:hover {
		color: $color-tertiary;
	}
	&__btn {
		letter-spacing: 0.1em;
		padding: 0.5em 2.0555555555555554em;
		font-size: 1em;
		cursor: pointer;
		background-color: Transparent;
		outline: none;
		border: 1px solid $color-secondary;
		color: $color-secondary;
		display: inline-block;
	}
	&__btn:hover {
		background-color: $color-secondary;
		color: $color-primary;
	}
}

@media (max-width: 1110px) {
	.navbar {
		&__logo {
			margin-right: 5em;
		}
	}
}

@media (max-width: 1040px) {
	.navbar {
		&__logo {
			margin-right: 0em;
		}
	}
}
@media (max-width: 915px) {
	.navbar {
		&__list-items {
			display: none;
		}
		&__menuiconcontainer {
			display: inline;
		}
		&__left {
			flex: 1;
			justify-content: space-between;
			padding: 0 2em 0 0;
		}
	}
}

@media (max-width: 920px) {
	.navbar {
		// &__list-items {
		// 	display: none;
		// }
	}
}

@media (max-width: 620px) {
	.navbar {
		&__left {
			padding: 0;
		}
		&__menuiconcontainer {
			flex: 1.5;
		}
		&__menuicon {
		}
		&__logocontainer {
			flex: 2;
		}
		&__logo {
		}
		&__social-icons {
			display: none;
		}
		&__btn {
			display: none;
		}
	}
}
