@use "../colors" as *;

.menu {
	&__items {
		list-style: none;
		font-size: 1.2em;
	}
	&__item {
		font-weight: 300;
		cursor: pointer;
		margin: 1em 3em;
		color: $color-secondary;
	}
	&__item:hover {
		color: $color-tertiary;
	}
}
